/* General styles */
body {
    font-family: "Varela", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
}

header img {
    height: 50px;
    margin-right: 10px;
}

/* Navigation links in a column for mobile view */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    
}

nav a:hover {
    background-color: #555;
}

/* Center the main element and set a max-width */
main {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

main h1 {
    font-size: larger;
    text-decoration: underline;
}

/* Grid layout for main sections (1 column in mobile view) */
.container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

/* Style the cards */
.card {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

/* Remove bullets from the course links list */
ul {
    list-style-type: none;
    padding-left: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

footer p {
    margin: 5px;
}