* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans", sans-serif;;
}


body {
    font-family: "Varela", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header h1{
    background-color: #023047;
    color: #fff;
    text-align: center;
    height: 100px;
    align-content: center;
}

header img {
    position: absolute;
    left: 6%;
    height: 50px;
    margin-right: 5%;
}


nav {
    display: flex;
    flex-direction: column;
    background-color: #ffb703;
    color: black;
    align-items: center;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    
}

nav a:hover {
    background-color: #555;
}

.active {
    background-color: #555;
}

/* Center the main element and set a max-width */
main {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

main h1 {
    font-size: larger;
    text-decoration: underline;
}

/* Grid layout for main sections (1 column in mobile view) */
.container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

/* Style the cards */
.card {
    border: 2px solid #023047;
    margin: 15px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.card h2{
    background-color: #023047;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.card h3{
    text-align: center;
    border-bottom: 2px solid #023047;
    width: 300px;
    padding: 10px;
}

.card p{
    margin: 15px;
    line-height: 1.5;
}


.card a, ul{

    margin: 15px;
    width: 100%;
    line-height: 1.5;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #023047;
    color: #fff;
    
}

footer p {
    margin: 5px;
}