
@media only screen and (min-width:38rem ) {

    header {
        display: flex;
        align-items: center;
    }

    header img {
        height: 100px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        display: inline-block;
        
        border-right: 1px solid white;
    }

    nav a:last-child {
        border-right: none;
    }

    .hamburger {
        display: none;
    }

    main {
        max-width: 100%;
    }

    main .overlay{
        padding: 30px;
    }

    main img{
        width: 100%;
    }
    .map-container iframe {
        height: 300px; /* Height for larger views */
    }


    .container {
        display: grid;
        grid-template-columns: 2fr 1fr ;
        column-gap: 10px;
    }

    .card {
        height: 300px;
        display: flex;
        flex-direction: column;
        
    }
    .card a{
        width: 100%;
        text-align: center;
    }

}